In [1]:
list1=['Ram','Raheem','Robert']
list2=[25,30,35]

In [ ]:
'Ram has age 25'
'Raheem has age 30'
'Robert has age 35'

In [2]:
for i,j in zip(list1,list2):
    print(i,j)

Ram 25
Raheem 30
Robert 35

In [ ]:
#{key:value}

In [3]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}
d1

#keys: 'Ram','Raheem','Robert'
#values: 25,30,35

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [4]:
d2={25:'Ram',30:'Raheem',35:'Robert'}
d2

# keys:  25,30,35
#values: 'Ram','Raheem','Robert'

{25: 'Ram', 30: 'Raheem', 35: 'Robert'}

In [5]:
d3={'even':[2,4,6],'odd':[3,5,7]}
d3

{'even': [2, 4, 6], 'odd': [3, 5, 7]}

In [6]:
d3={[2,4,6]:'even',[3,5,7]:'odd'}
d3              # fails

TypeError: unhashable type: 'list'

In [7]:
d4={(2,4,6):'even',(3,5,7):'odd'}
d4

{(2, 4, 6): 'even', (3, 5, 7): 'odd'}

In [8]:
#{'key':<{}>}
d5={'item_list':{'fruits':'apple'}}
d5

{'item_list': {'fruits': 'apple'}}

In [9]:
d6={{'fruits':'apple'}:'item_list'}
d6

TypeError: unhashable type: 'dict'

In [11]:
a=[1,2]
b=(1,2)

In [12]:
a,b=[1,2]
c,d=(1,2)
c

1

In [13]:
a=1,2
a

(1, 2)

In [15]:
d1={'A':1,'B':2,'A':1}
d1

{'A': 1, 'B': 2}

In [16]:
d1={'A':1,'B':2,'A':3}
d1

{'A': 3, 'B': 2}

- Dictionary is a key:value pair
- at value position you can take any data type
- at key position list and dictionary will fail
- Duplicates are not allowed
- If you will update a key value,latest value will take

$type$

In [17]:
type(d1)

dict

- str
- list
- dict
- int
- float
- bool
- complex
- tuple
- set

In [19]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}
max(d1)

'Robert'

- maximum and minnimum we are getting value based on key only

In [20]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}
min(d1)

'Raheem'

In [ ]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}
d1

In [21]:
len(d1)

3

In [23]:
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [24]:
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [25]:
d2={1:2,3:4}
sum(d2)

4

In [26]:
d2={100:2,300:3}
sum(d2)

400

- if key has numerical value then we can do sum

- type 
- len
- max
- min
- sum

$In$

In [27]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}


# 'Ram':25 in d1  fails
'Ram' in d1  #works
# 25 in d1   fails

True

In [28]:
for i in d1:
    print(i)

Ram
Raheem
Robert

$Index$

In [29]:
l1=[10,20,30,40]
l1[0]

10

In [30]:
str1='apple'
str1[0]

'a'

In [31]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}
d1[0]

KeyError: 0

In [33]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}
d1['Ram']

25

In [ ]:
# can i get values using for loop

In [35]:
for i in d1:
    print(i)

Ram
Raheem
Robert

In [36]:
for key in d1:
    print(key)

Ram
Raheem
Robert

In [34]:
for key in d1:
    print(key,d1[key])

Ram 25
Raheem 30
Robert 35

In [37]:
for key in d1:
    print("the age of {} is {}".format(key,d1[key]))

the age of Ram is 25
the age of Raheem is 30
the age of Robert is 35

In [38]:
for i in range(len(d1)):
    print(i,l1[i])

0 10
1 20
2 30

In [2]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}
for key in range(len(d1)):
    print(key)
    
    # print('The age of {} is {}'.format(key,d1[key]))

0
1
2

##### creating a empty dictionary and update

In [39]:
s=' '

for i in 'apple':
    s=s+i
print(s)

 apple

In [41]:
l=[i for i in range(10)]

l=[]
for i in range(10):
    l.append(i)
    
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
d1={}
d1['fruit']='Apple'
d1

{'fruit': 'Apple'}

In [43]:
d1={}
d1['Ram']=30
d1

{'Ram': 30}

In [ ]:
#WAP create your on databse
- name:Deepak
- age:23
- study=B.tech

In [46]:
d1={}
d1['Name']='deepak'
d1['age']=23
d1['study']='B.tech'
d1

{'Name': 'deepak', 'age': 23, 'study': 'B.tech'}

In [ ]:
#WAP create a dictionary based on two list
# names=['Ram','Raheem','Robert']
# ages=[25,30,35]

In [52]:
list1=['Ram','Raheem','Robert']
list2=[25,30,35]
d1={}
for i,j in zip(list1,list2):
    d1[i]=j
    
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [55]:
names=['Ram','Raheem','Robert']
ages=[25,30,35]
dict1={}
for i in range(len(names)):
    dict1[names[i]]=ages[i]
dict1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [56]:
dict1={names[i]:ages[i] for i in range(len(names))}
dict1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [58]:
names[0],ages[0]

('Ram', 25)

In [59]:
for names,ages in zip(names,ages):
    print(names,ages)

Ram 25
Raheem 30
Robert 35

In [8]:
# WAP create a dictionary based on two lists
# names=['Ram','Raheem','Robert']
# age=[25,30,35]
# d1={'Ram':25,'Raheem':30,'Robert':35}
names=['Ram','Raheem','Robert']
ages=[25,30,35]
dict1={}
for i,j in zip(names,ages):
    dict1[i]=j
dict1

###########################################
dict1={name:age for name,age in zip(names,ages)}
dict1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [14]:
dict1={}
for i in range(len(names)):
    dict1[names[i]]=ages[i]
dict1

##################################
dict1={names[i]:ages[i] for i in range(len(names))}
dict1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [ ]:
#WAP take 5 random number
# and create a dictionary with even or odd

# output:{'even':[20,22],'odd':[19,21,23]}

# step-1: take empty dictionary
# step-2: take two evan and odd list
# step-3: import random
# step-4: for i in ranges(5):
# step-5: num=random.randint(a,b)
# step-6: if <even>:
# step-7:     append the values in even list
# step-8: else:
# step-9:    append the values in odd list
# step-10: create dictionary

In [62]:
import random
for i in range(10,16):
    if i%2==0:
        print('{} is an even number'.format(i))
    else:
        print("{} is an odd number".format(i))

10 is an even number
11 is an odd number
12 is an even number
13 is an odd number
14 is an even number
15 is an odd number

In [72]:
d1={}
even_list=[]
odd_list=[]
import random
for i in range(5):
    num=random.randint(1,100)
    if num%2==0:
        even_list.append(num)
    else:
        odd_list.append(num)

            
d1['even list']=even_list
d1['odd list']=odd_list

In [71]:
d1

{'even list': [26, 24, 8, 88], 'odd list': [97]}

### Dictionary method

In [3]:
dir({})
# str=' '
# list=[]
# dict={}

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

$items$-$Keys$-$Values$

In [4]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [5]:
# items
items=d1.items()
items

dict_items([('Ram', 25), ('Raheem', 30), ('Robert', 35)])

In [6]:
type(items)

dict_items

In [7]:
#keys
keys=d1.keys()
keys

dict_keys(['Ram', 'Raheem', 'Robert'])

In [8]:
type(keys)

dict_keys

In [9]:
#values
values=d1.values()
values

dict_values([25, 30, 35])

In [10]:
type(values)

dict_values

In [11]:
l1=[25,30,35]
l1.append(400)
l1

[25, 30, 35, 400]

In [12]:
values    # I want to convert into list
values_list=list(values)  # then you can apply list method
values_list

[25, 30, 35]

In [13]:
keys_list=list(keys)
keys_list

['Ram', 'Raheem', 'Robert']

In [ ]:
# I will give the dictionary
# can you extract keys and values in the list





# I will give two list keys and values
# can you create a dictionary

In [14]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}
keys=list(d1.keys())
values=list(d1.values())

In [2]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}
keys=list(d1.keys())
values=list(d1.values())

In [3]:
keys,values

(['Ram', 'Raheem', 'Robert'], [25, 30, 35])

In [6]:
d1=dict(zip(keys,values))
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [7]:
{i:j for i,j in zip(keys,values)}

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [9]:
d1={}
for i in range(len(keys)):
    d1[keys[i]]=values[i]
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [15]:
s1='virat.kohli@blr.com,Rohit.sharma@mumbai.com,kl.rahul@lucknow.com'

#{'first_name':['virat','Rohit','KL'],
#  'second_name':['kohli','sharma','rahul'],
 #  'company':['blr','mumbai','lucknow']

In [22]:
#d1={}
#l1=[]
#l2=[]
#l3=[]
l1=s1.split(',')
#l2=s1.split('.')
#l3=s1.split('@')
print(l1)
#print(l2)

['virat.kohli@blr.com', 'Rohit.sharma@mumbai.com', 'kl.rahul@lucknow.com']

In [16]:
s1.split(',')

['virat.kohli@blr.com', 'Rohit.sharma@mumbai.com', 'kl.rahul@lucknow.com']

In [17]:
s1='virat.kohli@blr.com,Rohit.sharma@mumbai.com,kl.rahul@lucknow.com'
str1='virat.kohli@blr.com'
d1={}
f_name=[str1[:str1.find('.')]for str1 in  s1.split(',')]
s_name=[str1[str1.find('.')+1:str1.find('@')]for str1 in s1.split(',')]
c_name=[str1[str1.find('@')+1:str1.find('.',str1.find('.')+1)]for str1 in s1.split(',')]
d1['first_name']=f_name
d1['second_name']=s_name
d1['c_name']=c_name
d1

{'first_name': ['virat', 'Rohit', 'kl'],
 'second_name': ['kohli', 'sharma', 'rahul'],
 'c_name': ['blr', 'mumbai', 'lucknow']}

In [18]:
s1='virat.kohli@blr.com,Rohit.sharma@mumbai.com,kl.rahul@lucknow.com'
str1='virat.kohli@blr.com'
d1={}
f_name=[str1[:str1.find('.')]for str1 in s1.split(',')]
s_name=[str1[str1.find('.')+1:str1.find('@')]for str1 in s1.split(',')]
c_name=[str1[str1.find('@')+1:str1.find('.',str1.find('.')+1)]for str1 in s1.split(',')]
d1['first_name']=f_name
d1['second_name']=s_name
d1['company_name']=c_name
d1

{'first_name': ['virat', 'Rohit', 'kl'],
 'second_name': ['kohli', 'sharma', 'rahul'],
 'company_name': ['blr', 'mumbai', 'lucknow']}

$Words$-$Frequency$

In [30]:
str1='can can you canner can you able to can canner'

# {'can':4,'you':2,'canner':2,'able':1,'to':1}
# d={}
# step:-1: split the str1 =====> you will get a list
# step2:- iterate through the loop =====> each word will print
# step3:- list1.count(<word): number
# step4:- make the dictionary

In [19]:
str1='can can you canner can you able to can canner'
l1=str1.split(' ')  # step-1
d1={}
for i in l1:    # step-2
    d1[i]=l1.count(i)  # step-3
d1

{'can': 4, 'you': 2, 'canner': 2, 'able': 1, 'to': 1}

In [21]:
str1='can can you canner can you able to can canner'
str1.split()

['can', 'can', 'you', 'canner', 'can', 'you', 'able', 'to', 'can', 'canner']

In [38]:
str1='can can you canner can you able to can canner'
d1={}
count=0
str1.split()

['can', 'can', 'you', 'canner', 'can', 'you', 'able', 'to', 'can', 'canner']

In [44]:
list1=['can', 'can', 'you', 'canner', 'can', 'you', 'able', 'to', 'can', 'canner']
for i in list1:
    b=list1.count('can')
    c=list1.count('you')
    d=list1.count('canner')
    e=list1.count('able')
    f=list1.count('to')
    dict1={'can':b,'you':c,'canner':d,'able':e,'to':f}
dict1

{'can': 4, 'you': 2, 'canner': 2, 'able': 1, 'to': 1}

In [22]:
keys=list(d1.keys())

In [23]:
values=list(d1.values())

In [24]:
keys,values

(['can', 'you', 'canner', 'able', 'to'], [4, 2, 2, 1, 1])

In [25]:
i=max(values)

In [26]:
values.index(i)

0

In [27]:
keys[values.index(max(values))]

'can'

In [45]:
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':200}

#o/p={'a':50,'b':130,'c':240}

In [48]:
result={key:d1[key]+d2[key] for key in d1}
print(result)

{'a': 70, 'b': 130, 'c': 240}

In [28]:
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':200}

d3={}
if len(d1)==len(d2):
    for i in d1:
        d3[i]=d1[i]+d2[i]
        #d3['a']=d1['a']+d2['a']
        
d3

{'a': 70, 'b': 130, 'c': 240}

In [29]:
for i in range(min(len(d1),len(d2))):
    d1[list(d1.keys())[i]]+=d2[list(d2.keys())[i]]
d1

{'a': 70, 'b': 130, 'c': 240}

In [51]:
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':200}
d3={}
if len(d1)==len(d2):
    for i in d1:
        d3[i]=d1[i]+d2[i]

d3

{'a': 70, 'b': 130, 'c': 240}

In [30]:
d1={'a':20,'b':30,'c':40,'d':500}
d2={'a':50,'b':100,'c':200}

In [31]:
for i in range(min(len(d1),len(d2))):
    d1[list(d1.keys())[i]]+=d2[list(d2.keys())[i]]
d1

{'a': 70, 'b': 130, 'c': 240, 'd': 500}

In [1]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [4]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}
d2=d1.copy()
d1.clear()
print(d1)
print(d2)

{}
{'Ram': 25, 'Raheem': 30, 'Robert': 35}

$pop$-$popitem$-$del$

In [6]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}
d2=d1.pop('Robert')
d2

35

In [14]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}
d1.pop('Ram')
d1

{'Raheem': 30, 'Robert': 35}

In [15]:
d1={'Ram':25,
    'Raheem':30,
    'Robert':35}
d1.popitem()
d1

{'Ram': 25, 'Raheem': 30}

In [26]:
d2={'Ram':25,
    'Raheem':30,
    'Robert':35}
del d2['Ram']
d2

{'Raheem': 30, 'Robert': 35}

In [24]:
d1=[10,20,30,40]
del d1[1]
d1

[10, 30, 40]

In [31]:
d2={'Ram':25,
    'Raheem':30,
    'Robert':35}
del (d2)

In [33]:
d1={'a':1,'b':2,'c':3}
del d1['c']
d1

{'a': 1, 'b': 2}

In [38]:
d1={'a':1,'b':2,'c':3}
d2=d1.pop('c')
d1

{'a': 1, 'b': 2}

In [18]:
# take one dictionary
# take seond dictionary
# copy first dict into second
# clear first dict
# and print both

d1={'a':20,'b':30,'c':40,'d':500}
d2=d1.copy()
d1.clear()
print(d1)      # {}
print(d2)      # {'a':20,'b':30,'c':40,'d':500}

{}
{'a': 20, 'b': 30, 'c': 40, 'd': 500}

$pop$-$popitem$-$del$

- what is pop
   - pop will remove specify key
   - return value
- what is popitem

   - remove the last value default 
   - return the pair

- what is del

   - del is a keyword
   - it can delete an item by providing specify key

In [19]:
d2

{'a': 20, 'b': 30, 'c': 40, 'd': 500}

In [20]:
d2.pop('a')

20

In [21]:
d2.popitem()

('d', 500)

In [22]:
# del is a keyword
del d2['c']
d2

{'b': 30}

In [24]:
l1=[10,20,30,40,50]
del l1[1] # list access by index
l1

[10, 30, 40, 50]

In [26]:
del(d2)
d2

NameError: name 'd2' is not defined

In [27]:
d1={'a':1,'b':2,'c':3}

####################################

del d1['c']
d1.pop('c')

d1.popitem()   # LIFO

################################

del(d1)

KeyError: 'c'

- item/values/keys
- is i provide two list you know how to make dict
- if i provide dict, you know how to generate list
- counter
- summ
- function
- pop/popitem/del
- copy/clear

$fromkeys$-$get$

In [44]:
d1={'a':1,'b':2,'c':3}
d1.get('c')

{'a': 1, 'b': 2, 'c': 3}

In [45]:
d1['b']

2

In [48]:
d1.get('c')

3

In [51]:
d1={'a':1,'b':2,'c':3}
d2=d1.fromkeys('c')
d2

{'c': None}

- how many ways we can do
- what output it returning
- what is the difference
- we can access the values by providing key as index and key in the get method
- but if the key is not present in dictionary ,key as index will give key error
- get method will not return anything and no error

In [59]:
d1={'a':1,'b':2,'c':3}
d2=d1.fromkeys('c')

In [61]:
d2={'Ram':25,
    'Raheem':30,
    'Robert':35}
d2=d1.fromkeys('Raheem',87)
d2

{'R': 87, 'a': 87, 'h': 87, 'e': 87, 'm': 87}

In [62]:
d1

{'a': 1, 'b': 2, 'c': 3}

In [70]:
name='deepak'
new_name=name.capitalize()
new_name

'Deepak'

In [71]:
name,new_name

('deepak', 'Deepak')

In [76]:
d2={'Ram':25,
    'Raheem':30,
    'Robert':35}
d3=d2.setdefault('Ram')
d3

25

In [80]:
d1={}
d1.setdefault('Deepak',23)
d1.setdefault('abinvash')
d1

{'Deepak': 23, 'abinvash': None}

In [81]:
d2={}
d2['deepak']=30
d2['Abhinav']

KeyError: 'Abhinav'

In [83]:
d1={}
d1.setdefault('nareshit','Ds')
d1.setdefault('city')
d1.setdefault('nareshit',['Ds','Mlops','De'])
d1['naresit']=['Ds','Mlops','De']
d1.setdefault('city','hyd')
d1

{'nareshit': 'Ds', 'city': None, 'naresit': ['Ds', 'Mlops', 'De']}

In [94]:
d2={'Ram':25,
    'Raheem':30,
    'Robert':35}
d3={'Raheem':45,'Robert':67}
d2.update(d3)
d2

{'Ram': 25, 'Raheem': 45, 'Robert': 67}

In [97]:
d2={'Ram':25,
    'Raheem':30,
    'Robert':35}
d3={'Raheem':45,'Robert':67}
d2.update(d3)
d2

{'Ram': 25, 'Raheem': 45, 'Robert': 67}

- update method will update a dictionary with elements from another dictionary
- it modifies the dictionary

In [ ]:
- strings
- list
- dictionary

$Tuple$
- write an article on tuple
- how to read tuple
- type/max/min/len/sum
- index/mutable
- in / for
- slice
- method