- array of element

### List

In [3]:
string1='python'

In [4]:
list1=[1,2,3,4]
list1  # you can write numbers

[1, 2, 3, 4]

In [5]:
list2=['A','B','C','D']
list2  #you can write strings

['A', 'B', 'C', 'D']

In [6]:
list3=[1,2,3,4,'A','B','C','D']
list3

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [7]:
list4=[1,'Apple',10.5,10+20j,True]
list4

[1, 'Apple', 10.5, (10+20j), True]

In [8]:
list5=[100,100,100]
list5

[100, 100, 100]

In [9]:
list6=[1,2,3,4]
list6

[1, 2, 3, 4]

- list is an array of elements
- list elements heterogeneous (different) data types are allowed
- duplicate are allowed
- list in list also work

$TYPE$

In [2]:
x=[1,'abc',2,4]

In [4]:
type(x)

list

In [5]:
list1=[1,2,3,4]

In [6]:
list2=['A','B','C','D']

In [10]:
list3=[1,2,3,"a","b","c"]

In [7]:
max(list1)

4

In [8]:
max(list2)

'D'

In [12]:
max(list3) # WE cannot compare different data types

TypeError: '>' not supported between instances of 'str' and 'int'

In [13]:
min(list1)

1

In [14]:
min(list2)

'A'

In [15]:
min(list3)

TypeError: '<' not supported between instances of 'str' and 'int'

$LENGTH$

In [16]:
len(list1)

4

In [17]:
len(list2)

4

In [18]:
len(list3)

6

In [19]:
sum(list1)

10

In [20]:
sum(list2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

- sum
- eval
- range

$IN$

In [21]:
list1

[1, 2, 3, 4]

In [26]:
print(1 in list1)
print(2 in list1)
print(3 in list1)
print(5 in list1)

True
True
True
False

In [27]:
for i in list1:
    print(i)

1
2
3
4

$Concatenation$

In [28]:
print(list1+list2)
print(list2+list1)

[1, 2, 3, 4, 'A', 'B', 'C', 'D']
['A', 'B', 'C', 'D', 1, 2, 3, 4]

In [29]:
new_list=list1+list2

In [30]:
new_list

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [31]:
list1*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [34]:
print(list1-list2)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [35]:
print(list1*list2)

TypeError: can't multiply sequence by non-int of type 'list'

In [ ]:
list1-list2  #Fail
list1*list2  #fail
list1/list2  #fail
# 'a'/'b'

$Index$

In [1]:
list3=[1,2,3,4,'A','B','C','D']

In [3]:
list3[0],list3[1],list3[2],list3[3],list3[4],list3[5],list3[6],list3[7]

(1, 2, 3, 4, 'A', 'B', 'C', 'D')

In [41]:
for i in range(8):
    print(i,list3[i])

0 1
1 2
2 3
3 4
4 A
5 B
6 C
7 D

In [42]:
for i in range(len(list3)):
    print(i,list3[i])

0 1
1 2
2 3
3 4
4 A
5 B
6 C
7 D

In [45]:
for i in range(len(list3)):
    print(-i,list3[-i])

0 1
-1 D
-2 C
-3 B
-4 A
-5 4
-6 3
-7 2

In [47]:
for i in range(len(list3)):
    print('positive index is:{} and negative index is {}:for an element{}'.format(i,i-len(list3),list3[i]))

positive index is:0 and negative index is -8:for an element1
positive index is:1 and negative index is -7:for an element2
positive index is:2 and negative index is -6:for an element3
positive index is:3 and negative index is -5:for an element4
positive index is:4 and negative index is -4:for an elementA
positive index is:5 and negative index is -3:for an elementB
positive index is:6 and negative index is -2:for an elementC
positive index is:7 and negative index is -1:for an elementD

In [ ]:
# WAP find the element which are having len<3:
# list=['Apple','Ball','Cat','Ab','Cd','Ef']

In [53]:
list1=['Apple','Ball','Cat','Ab','Cd','Ef']
for i in list1:
    if len(i)<3:
        print(i)

Ab
Cd
Ef

In [54]:
list1=['Apple','Ball','Cat','Ab','Cd','Ef']
for i in range(len(list1)):
    if len(list1[i])<3:
        print(list1[i])

Ab
Cd
Ef

In [ ]:
# WAP find the element which are having #:
# list=['App#e','B#ll','C#t','Ab','Cd','Ef']

In [61]:
 list1=['App#e','B#ll','C#t','Ab','Cd','Ef']
for i in list1:
    for j in i:
        if j=='#':
            print(i)

App#e
B#ll
C#t

In [62]:
for i in list1:
    if '#' in i:
        print(i)

App#e
B#ll
C#t

In [68]:
count=0
for i in list1:
    if '#' in i:
        count+=1
print(count)

3

In [69]:
list1=[1,2,3,['Apple','Ball']]
# retrive the ball using index
# In the given list how many elements are there:4

In [72]:
list1[3][1]

'Ball'

In [73]:
list2=[[[[[[['Cherry']]]]]]]

In [88]:
list2[0][0][0][0][0][0][0]

'Cherry'

In [93]:
list3=[[[['A','B',[[[1,2,3,['car']]]]]]]]

In [98]:
list3[0][0][0][2][0][0][3][0]

'car'

$Mutable$

In [101]:
list1=[1,2,3,'abc','def']
list1[2]='xyz'
print(list1)

[1, 2, 'xyz', 'abc', 'def']

In [10]:
list1=['A','B','C']
list1[0]=100
list1

[100, 'B', 'C']

$Slice$

In [103]:
list1=[1,10,20,30,'P','Y','T','H','0','N','a','b','c','D']

In [104]:
print(list1[2:14:3])
print(list1[2:14:-3])
print(list1[2:-14:3])
print(list1[2:-14:-3])
print(list1[-2:14:3])
print(list1[-2:-14:3])
print(list1[-2:-14:-3])
print(list1[-2:14:-3])

[20, 'Y', '0', 'b']
[]
[]
[20]
['c']
[]
['c', 'N', 'T', 30]
[]

- Reading a list
- Different way to provide elements
- type/min/max/sum/len
- in
- concatenation
- index
- mutable
- slice

$List methods$

In [106]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

$CLEAR$-$COPY$

In [107]:
list1=[1,2,3,4]
# I want copy these elements in a list
list2=list1.copy()
print(list2)

[1, 2, 3, 4]

In [109]:
list1.clear()
list1

[]

In [110]:
print('list1:',list1)
print('list2:',list2)

list1: []
list2: [1, 2, 3, 4]

In [ ]:
# Side heading
# Write the code
# Insight

$Append$

In [3]:
# add something to the end 
list1=[100,200]
list1.append(300)
list1

[100, 200, 300]

In [4]:
list1=[]
list1.append(100)
list1.append(200)
list1.append(300)
list1

[100, 200, 300]

In [31]:
list1.append([100,200])
list1

[1, 2, 3, 4, 5, [100, 200]]

In [32]:
list1.append('apple')
list1

[1, 2, 3, 4, 5, [100, 200], 'apple']

In [11]:
# Input list=[1,2,3,4,5]
# create a new list=[1,4,9,16,25]

list1=[1,2,3,4,5]
for i in list1:
    print(i*i,end=' ')
# I don't want print the values, i want save the output in a list

1 4 9 16 25

In [13]:
list1=[1,2,3,4,5]
output=[]
for i in list1:
    output.append(i*i)
output

[1, 4, 9, 16, 25]

In [25]:
st1='hyd'
st1.capitalize()

'Hyd'

In [30]:

list2=['hyd','bengaluru','delhi']
# output=['Hyd','Bengaluru','Delhi']
output=[]
for i in list2:
    print(i)
    output.append(i.capitalize())
output

hyd
bengaluru
delhi

['Hyd', 'Bengaluru', 'Delhi']

In [33]:
import string
list2=['hyd','bengaluru','delhi']
# output=['Hyd','Bengaluru','Delhi']
output=[]
for string in list2:
    print(string)
    output.append(string.capitalize())
output

hyd
bengaluru
delhi

['Hyd', 'Bengaluru', 'Delhi']

In [34]:
list3=['h#d','beng#luru','delhi']
#output=['h#d',beng#luru]

In [12]:
list3=['h#d','beng#luru','delhi']
output=[]
for i in list3:
    if '#'in i:
        output.append(i)
output

['h#d', 'beng#luru']

$List Comprehension$

In [13]:
# code in a single line =====> speed the process
list1=[1,2,3,4,5]  # input
output=[]
for i in list1:
    output.append(i*i)
output

# step-1: intiliazed the list output=[]
# step-2: iterate the loop
# step-3: you save the output

output1=[i*i for i in list1]
output1

#[<output> <for loop>]

[1, 4, 9, 16, 25]

In [14]:
list2=['hyd','bengaluru','delhi']

# output=['Hyd','Bengaluru','Delhi']
output=[]
for i in list2:
    output.append(i.capitalize())
output

#[<output><foorloop>]
output1=[i.capitalize() for i in list2]
output1

['Hyd', 'Bengaluru', 'Delhi']

In [16]:
# create the list of 20 numbers from 1 to 20
############################################M-1
# for i in range(1,21):
     # print(i)
########################################### M-2
numbers=[]
for i in range(1,21):
    numbers.append(i)
numbers
######################################### M-3
numbers1=[i for i in range(1,21)]
numbers1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# list comprehension with if condition

In [19]:
list3=['h#d','beng#luru','delhi']
# output=['h#d','beng#luru']
output=[]
for i in list3:
    if '#' in i:
        output.append(i)
output

#[<o/p> <for loop><if_condition>]
output1=[i for i in list3 if '#' in i]
output1

['h#d', 'beng#luru']

In [20]:
list4=['abcd','abc','ac','a']
output=[i for i in list4 if len(i)<3]
output

['ac', 'a']

In [21]:
# if else
list1=[1,2,3,4,5,6]
for i in list1:
    if i%2==0:
        print("even:{}".format(i))
    else:
        print("odd:{}".format(i))

odd:1
even:2
odd:3
even:4
odd:5
even:6

In [22]:
list1=[1,2,3,4,5,6]
output=[]
for i in list1:
    if i%2==0:
        output.append('even:{}'.format(i))
    else:
        output.append('odd:{}'.format(i))
output

['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5', 'even:6']

In [26]:
# [<if_ouput><if_condition> else <else_output><for loop>]
output1=["even:{}".format(i) if i%2==0 else "odd:{}".format(i) for i in list1]
output1

['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5', 'even:6']

$Count$

In [27]:
list1=[1,2,3,'A','B','B','B','C']
list1.count('B')

3

In [28]:
count=0
for i in list1:
    if i=='B':
        count=count+1
print(count)

3

$Extend$

In [30]:
list1=['A','B','C']
list2=[1,2,3]
list1.append(list2)   # ['A','B','C',[1,2,3]]
list1

['A', 'B', 'C', [1, 2, 3]]

In [31]:
list1=['A','B','C']
list1=[1,2,3]
list1.append(list2) # ['A','B','C',[1,2,3]]
list1

[1, 2, 3, [1, 2, 3]]

In [32]:
list1=['A','B','C']
list2=[1,2,3]
list3=list1+list2
list3

['A', 'B', 'C', 1, 2, 3]

$Append$ $vs$ $Extend$ $vs$ $concat$

- append will add the element at least,that element can be any type

        - list1=[1,2,3]
        
        - list2=['A','B']
        
        - list1.append(list2)=[1,2,3,['A','B']]
        
- Extend will update the list by adding new elements,the results also save in same list 

        - list1=[1,2,3]
        
        - list2=['A','B']
        
        - list1.extend(list2)=[1,2,3,'A','B']
        
- concat will add two list,but the result will not update in a same list

        - list1=[1,2,3]
        
        - list2=['A','B']
        
        - list1+list2=[1,2,3,'A','B']

$Iterator$

- iterator word =======> loop
- the elements we can print using for loop
- string='python' we can print each letter using for loop
- list1-[1,2,3] we can print each elements using for loop

In [34]:
val=reversed('python')
val

In [35]:
for i in val:
    print(i)

n
o
h
t
y
p

In [4]:
list1=[1,2,3]
print(list1.extend('python'))
print(list1.append('python'))
print(list1)

None
None
[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']

$pop$-$remove$-$del$

In [37]:
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']

In [38]:
list1.pop()

'python'

In [39]:
list1.pop()

'n'

In [40]:
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o']

In [41]:
list1
list1.pop(5)   # list1.pop(list1.imdex('t'))

# in side bracket default arguments is there index=-1
# -1 means last value
# if you not provide any value
# it will remove last value
# if i provide any index, it will remove that element
# it is also returning,which elements it is removing

't'

In [42]:
list1.pop(100)

IndexError: pop index out of range

In [43]:
list1=[100,200,100,300]  # duplicates are allowed
list1.remove(100)
list1

[200, 100, 300]

In [44]:
del(list1)

In [45]:
list1

NameError: name 'list1' is not defined

In [46]:
list1=[100,200,100,300]
del list1[2]
list1

[100, 200, 300]

In [47]:
dir(list1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
- index  vs multiple values
- insert vs append 
- reverse ascending and descending ====== reversed
- sort ======= sorted
- difference between reverse and sort 


# get all the different all the information
# share your screenshot

In [48]:
list1=[1,2,3,4,2,6]
f_i=list1.index(2)
list1.index(2,f_i+1)

4

$Zip$

In [49]:
list1=['Ram','Robert','Raheem']
list2=[25,30,35]

# 'Ram age is 25'
# 'Robert age is 30'
# 'Raheem age is 35'

for i,j in zip(list1,list2):
    print("{} age is {}".format(i,j))

Ram age is 25
Robert age is 30
Raheem age is 35

In [50]:
list1=[100,200,300]
list2=[25,30,35]  

# output=[125,230,335]


output=[i+j for i,j in zip(list1,list2)]
output

[125, 230, 335]

In [ ]:
# take 5 question in list1
# take corresponding 5 answer in another list2
# iterate through list1
# every question should print
# answer=input("tell the answer")
# answer will check in list2
# if it is there : marks=marks+1
# else: No marks

# How many write answer you made, how many answer you got

#####################################################################

# list1=['who is PM of india','what is capital of india','who is president of india']
# list2=['Modi','Delhi','Draupati']
# marks=0
# correct_answer=0
# for i in range(len(list)):
# print('Q1:'<>)
# answer=input('Enter the answer')
# if answer.lower()==list2.index(i):
#     marks+=1

In [16]:
list1=['who is PM of india?',
       'what is the capital of india?',
       'what is the financial capital of india?',
       'Who is the president of india?',
      'Who is known as God of cricket?']
list2=['N.Modi','Delhi','Mumbai','Draupaty','Sachin']
marks=0
for i in range (len(list1)):
    print(list1[i])
    
    answer=input("enter the answer:")
    if answer.casefold()==list2[i].casefold():
        marks=marks+1
print("Your total obtain marks:",marks)

who is PM of india?
enter the answer:n.modi
what is the capital of india?
enter the answer:Delhi
what is the financial capital of india?
enter the answer:mumbai
Who is the president of india?
enter the answer:Draupty
Who is known as God of cricket?
enter the answer:sachin
Your total obtain marks: 4

In [ ]:
- index  vs multiple values
- insert vs append 
- reverse ascending and descending ====== reversed
- sort ======= sorted
- difference between reverse and sort 


# get all the different all the information
# share your screenshot

In [3]:
# index
list1=[1,2,3,4,5,"A","B","Apple"]
list1.index("A")

5

In [4]:
# insert
list1=[1,2,3,4,5,"A","B","Apple"]
list1.insert(3,200)      # insert 200 at index 3
list1                # using index we can add value at any index

[1, 2, 3, 200, 4, 5, 'A', 'B', 'Apple']

In [7]:
# append
list1=[1,2,3,4,5,"A","B","Apple"]
list1.append("Deepak")     # append
list1                      # append will come at last

[1, 2, 3, 4, 5, 'A', 'B', 'Apple', 'Deepak']

In [10]:
# reverse
list1=[1,2,3,4,5,"A","B","Apple"]
list1.reverse()                     # reverse is a method which is used to reverse the list
list1

['Apple', 'B', 'A', 5, 4, 3, 2, 1]

In [11]:
# reversed
list1=[1,2,3,4,5,"A","B","Apple"]
for i in reversed(list1):                  # reversed is a keyword it is used with a loop
    print(i)

Apple
B
A
5
4
3
2
1

In [1]:
# reversed
list2=[1,2,3,4,5, "python","Deepak"]
list3=list(reversed(list2))

print('original list:',list2)
print('reversed list:',list3)

original list: [1, 2, 3, 4, 5, 'python', 'Deepak']
reversed list: ['Deepak', 'python', 5, 4, 3, 2, 1]

In [2]:
# sort
list3=['a','c','To','Deepak','for','Helllo','hii']
list3.sort()
list3

['Deepak', 'Helllo', 'To', 'a', 'c', 'for', 'hii']

In [3]:
# sorted
list3=[100,200,400,300,250,1000,900,150]
list4=[]
for i in sorted(list3):
    list4.append(i)
print(list4)

[100, 150, 200, 250, 300, 400, 900, 1000]

In [7]:
arr=['aasda','bhdjb','cahsdj']
for i in arr:
    print(i)
max(arr)

aasda
bhdjb
cahsdj

'cahsdj'

In [19]:
list1=[100,200,300]
#WAP to find the maximum value without using max keyword

In [20]:
max_value=0
for i in list1:
    if i>max_value:
        max_value=i
print('{} is maximum'.format(max_value))

300 is maximum

In [24]:
num1=100
num2=200
num3=300
if (num1>=num2) and (num1>=num3):
    print("100 is the largest value")
elif(num2>num1)  and (num2>=num3):
    print("200 is the largest value")
else:
    print("300 is the laregst value")

300 is the laregst value

In [28]:
list1=[100,200,300]
if (list1[0]>list1[1]) and (list1[0]>list1[2]):
    print("100 is the largest value")
elif list1[1]>list1[2]:
    print("200 is the largest value")
else:
    print("300 is the laregst value")

300 is the laregst value

In [3]:
list1=[100,500,200,300,250]
#WAP to find the maximum value without using max keyword
list1=[100,500,200,300,250]
result=100
for i in range(1,len(list1)):
    if list1[i] > result:
        result=list1[i]
        
print(result)

500