# Type Casting:

In [ ]:
- change one data type to another data type

- Int ------>float
- Int ------>string
- Int ------>boolean
- Int ------>complex

- float ------>Int
- float ------>string
- float ------>boolean
- float ------>complex

## Integer to other data type

In [2]:
number1=(100)
number1

100

In [3]:
type(number1)

int

In [4]:
# case-1: int======> float
float(number1)   #  number1 to float type 100===>100.0

100.0

In [6]:
float_number=float(number1)

In [7]:
type(float_number)

float

In [8]:
 # 100 ======string===='100'
 string_number=str(number1) 
 string_number

'100'

In [9]:
type(string_number)

str

In [11]:
# case -3 : integer to boolean
boolean_number=bool(number1)
boolean_number

True

In [12]:
bool(100)

True

In [13]:
bool(0)

False

**Note**

other than Zero , everything is True

bool(0) only false

In [14]:
# 100 ===== ? complex(100)
complex_number= complex(100)
complex_number

(100+0j)

In [ ]:
number1=100
float_number=float(number1) # float(100)= 100.0
string_number=str(number1)  #str(100)= '100'
boolean_number=bool(number1) # bool(100)= true
complex_number=complex(number1) # complex(100) = 100+0j

In [ ]:
200 =======> int ======= float ====== 200.0
200 ========> int ======= str ======== '200'
200 ========> int ======= bool ======= true
200 ========> int ======= complex ==== 200+0j

# convert float to other

In [ ]:
number2=100.5
int_number=int(number2) # 100
boolean_number=bool(number2) #True
complex_number=complex(number2) # 100.5+0j

In [1]:
number2=100.5
int_number=int(number2)
int_number

100

In [3]:
number2=100.5
string_number=str(number2)
string_number

'100.5'

In [4]:
number2=100.5
bool_number=bool(number2)
bool_number

True

In [5]:
number2=100.5
complex_number=complex(number2)
complex_number

(100.5+0j)

In [ ]:
I have a doubt , why 100.5 is not 101

# we are not runding off
# why not 100?

In [6]:
round(100.6)

101

In [ ]:
100
100.5
'100'
True
100+5j

## string to other data type

In [ ]:
# case-1 
string_value1='apple'
int(string_value1)
float(string_value1)
bool(string_value1)
complex(string_value1)

In [7]:
string_value1='apple'    #English
int(string_value1)      #int maths

# you cannot convert english to maths

ValueError: invalid literal for int() with base 10: 'apple'

In [8]:
string_value1='apple'
float(string_value1)

ValueError: could not convert string to float: 'apple'

In [9]:
string_value1='apple'
bool(string_value1)

True

In [10]:
string_value1='apple'
complex(string_value1)

ValueError: complex() arg is a malformed string

In [15]:
string_value1=''
bool(string_value1)

False

**Note**
- Empty string boolean conversion given as False

In [ ]:
string_value1='apple'
int(string_value1)       # error
float(string_value1)     # error
bool(string_value1)      # True
complex(string_value1)   # error

In [ ]:
string_value2='10.5'   # base type float === representation in quotes === finally
int(string_value2)     # error
float(string_value2)   # 10.5
bool(string_value2)    # True
complex(string_value2) # 10.5+0j

In [11]:
string_value2='10.5'     # base type is float ====== represents in quotes
int(string_value2)

ValueError: invalid literal for int() with base 10: '10.5'

In [12]:
string_value2='10.5'     # base type float ===== represents in quotes
float(string_value2)

10.5

In [13]:
int('10.5')

ValueError: invalid literal for int() with base 10: '10.5'

In [14]:
string_value2='10.5'    # base type float ======= represents in quotes ====== finally
complex(string_value2)

(10.5+0j)

In [15]:
complex(10.5)
complex('10.5')

(10.5+0j)

In [16]:
float(10.5)

10.5

In [17]:
float('10.5')

10.5

In [18]:
int(10.5)

10

In [19]:
int('10.5')

ValueError: invalid literal for int() with base 10: '10.5'

In [20]:
string_value2='10' 
int(string_value2)        # 10
float(string_value2)      # 10.0
bool(string_value2)       # True
complex(string_value2)    # 10+0j

10

In [22]:
float('10')     # works
int('10.5')    # fails

10.0

In [23]:
string1='10.5'       # 10
n1=float(string1)    # '10.5' ===== 10.5
n2=int(n1)           # 10.5 ======= 10
n2

10

# Boolean conversion

In [ ]:
val1=True
int(val1)
float(val1)
str(val1)
complex(val1)

In [25]:
int(False)

0

In [26]:
int(True)

1

In [16]:
val1=True
int(val1)

1

In [17]:
float(val1)

1.0

In [18]:
str(val1)

'True'

In [19]:
complex(val1)

(1+0j)

In [20]:
val2=100+200j
int(val2)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [21]:
float(val2)

TypeError: float() argument must be a string or a real number, not 'complex'

In [22]:
str(val2)

'(100+200j)'

In [23]:
bool(val2)

True

In [24]:
val3=100+0j
int(val3)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [25]:
float(val3)

TypeError: float() argument must be a string or a real number, not 'complex'

In [26]:
str(val3)

'(100+0j)'

In [27]:
bool(val3)

True

#  complex to other

In [ ]:
val2=100+200j
int(val2)     # error  complex(100) = 100+0j
float(val2)   # error
str(val2)     # '100+200j'
bool(val2)    # True

In [ ]:
val2=100+0j
int(val2)     # error complex(100) = 1000+0j
float(val2)   # error
str(val2)     # '100+200j'
bool(val2)    # True

In [27]:
int(100+200j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [28]:
int(100+0j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [29]:
bool(0j)

False

In [ ]:
bool('apple')

In [30]:
str(True)

'True'