In [1]:
# step1: variable='python'
# step2:    city='hyd'
# step3:    age=10

# myn name is python ,I came from hyderabad and IM 10 years old
name="python"
city="hyd"
age=10
print("my name is",name,'IM from',city,'my age is',age,"years old")

my name is python IM from hyd my age is 10 years old

In [1]:
# my name is python , I came from hyderabad and IM 10 years old
name="python"
city="hyderabad"
age=10
print("my name is",name,'Im from',city,end=' and')
print("Im", age,"years old")

my name is python Im from hyderabad andIm 10 years old

In [2]:
name='python'
city='hyderabad'
age=10
print('my name is ', name,'i came from',city,'i am',age,'years old')

my name is  python i came from hyderabad i am 10 years old

In [3]:
numb1=2000
numb2=4000
add=numb1+numb2
print("the addition of",numb1,'and',numb2,'is',add)

the addition of 2000 and 4000 is 6000

In [ ]:
#"the additon of 200 and 400 is 600"
# the addition of {} and {} is {}

In [2]:
number1=200
number2=400
add=number1+number2
print("the addition of {} and {} is {}".format(number1,number2,add))

the addition of 200 and 400 is 600

In [3]:
name='python'
city='hyd'
age=10
print("my name is {},Im from {} and my age is {} years old".format(name,city,age))

my name is python,Im from hyd and my age is 10 years old

In [ ]:
# step-1: value1=20
# step-2: value2=30
# step-3: add=value1+value2
# step-4: sub=value1-value2
# step-5: mul=value1*value2
# step-6: div=value1/value2
#The addition of 20 and 30 is:50
#The substraction of 20 and 30 is:-10
#The multiplication of 20 and 30 is:6000
#the dividion of 20 and 30 is: 0.666

In [6]:
value1=20
value2=30
add=value1+value2
sub=value1-value2
mul=value1*value2
div=round(value1/value2,2)
print("The addition of {} and {} is {}".format(value1,value2,add))
print("The substraction of {} and {} is {}".format(value1,value2,sub))
print("The multiplication of {} and {} is {}".format(value1,value2,mul))
print("the division of {} and {} is {}".format(value1,value2,div))

The addition of 20 and 30 is 50
The substraction of 20 and 30 is -10
The multiplication of 20 and 30 is 600
the division of 20 and 30 is 0.67

In [4]:
value1=200
value2=300
add=value1+value2
sub=value1-value2
mul=value1*value2
div=round(value1/value2,2)
print("The addition of {} and {} is {}".format(value1,value2,add))
print("The substraction of {} and {} is {}".format(value1,value2,sub))
print("The multiplication of {} and {} is {}".format(value1,value2,mul))
print("the division of {} and {} is {}".format(value1,value2,div))

The addition of 200 and 300 is 500
The substraction of 200 and 300 is -100
The multiplication of 200 and 300 is 60000
the division of 200 and 300 is 0.67

In [5]:
round(value1/value2,3)

0.667

In [6]:
20/30

0.6666666666666666

In [ ]:
div=round(value1/value2,2)

In [7]:
div

0.67

In [8]:
20/30   # division

0.6666666666666666

In [9]:
20%30   # modulus

20

In [10]:
20 // 30 # floor division

0

In [11]:
print(5/2)  # division
print(5//2) #floor division=quotient
print(5%2)  # modulus=remainder

2.5
2
1

In [13]:
val1 = 200 # manually i provide
val2 = 300 # inprovide
add=val1+val2
print("The addition of {} and {} is {}".format(val1,val2,add))

The addition of 200 and 300 is 500

$input$

In [14]:
input()

30

'30'

In [7]:
input()

python is easy language

'python is easy language'

In [16]:
input('enter a number')

enter a number300

'300'

In [17]:
input('your name')

your nameDeepak kumar

'Deepak kumar'

In [18]:
name1=input("what is a for : ")
name2=input("what is b for : ")
print(name1,name2)

what is a for : apple
what is b for : ball
apple ball

In [26]:
value1=(input('enter value1:'))  #'20'
value2=(input('enter value2:'))  #'30'
add=value1+value2                #'20'+'30'='2030'   #'A'+'B'='AB'
print("The addition of {} and {} is {}".format(value1,value2,add))

enter value1:20
enter value2:30
The addition of 20 and 30 is 2030

In [24]:
int(value1)

20

In [27]:
value1=int(input('enter value1:'))
value2=int(input('enter value2:'))
add=value1+value2
print("The addition of {} and {} is {}".format(value1,value2,add))

enter value1:20
enter value2:30
The addition of 20 and 30 is 50

In [29]:
value1=input('enter value1:')
value2=input('enter value2:')
add=int(value1)+int(value2)
print("The addition of {} and {} is {}".format(value1,value2,add))

enter value1:30
enter value2:40
The addition of 30 and 40 is 70

In [ ]:
number1=100
number2=200.5

In [31]:
value1=int(input('enter value1:'))
value2=float(input('enter value2:'))
add=value1+value2
print("The addition of {} and {} is {}".format(value1,value2,add))

enter value1:100
enter value2:200.5
The addition of 100 and 200.5 is 300.5

In [ ]:
int('200')------ works      int('200.5')------fails
float('200')-------works    float('200.5')------works

$eval$

In [34]:
num1=eval(input("enter a number1 :"))
num2=eval(input("enter a number2 :"))
add=num1+num2
print(add)

enter a number1 :20
enter a number2 :30.8
50.8

In [35]:
type(num1)

int

In [36]:
type(num2)

float

In [5]:
a=200
b=300
c=500
avg=(a+b+c)/3
print(avg)

333.3333333333333

In [1]:
input()

30

'30'

In [11]:
value1=input("enter value1:")  #a=30
value2=input("enter value2:")  #b=40
value3=input("enter value3:")  #c=10
add=int(value1)+int(value2)+int(value3)
average=(value1+value2+value3)/3
print(add)
print(average)

enter value1:30
enter value2:40
enter value3:10

TypeError: unsupported operand type(s) for /: 'str' and 'int'