In [1]:
number=100 #100 values is stored in variables called number
number    #so here number is a variables

100

In [2]:
number=200
number

200

In [ ]:
#so here first number has 100
#second number has 200
#number is changing its value
#thats why we are calling number as variables

#Rules to define number

# Rules to define variable

In [4]:
#keyword
if=500
if

SyntaxError: invalid syntax (392393844.py, line 2)

In [5]:
sum=700 #sum is math operation so it is work
sum

700

In [ ]:
**Note**
sum is a math operation it will works
but do not use as variable

In [6]:
#spaces will not allowed
number one=700
number one

SyntaxError: invalid syntax (2519038587.py, line 2)

In [7]:
number_one=700
number_one

700

In [8]:
_=900
_

900

In [ ]:
#########Basics########
1)Basics syntax
2)variables
3)python package information
4)Basic python code
5)conditional statement
6)function
7)Loop
######Level2#####
1)string
2)List
3)dictionary
4)tuples=======write up
5)sets
6)file handling session
######Level3######
1)oops concept in python
2)how to create your own package
3)FLASK APPS

# variable

- variable term vary
- you want to save values at some place , that place is called variable
- variable and constant

# rules to define variable

In [1]:
# upper case
NUMBER=400
NUMBER

400

In [2]:
#lower case
number=200
number

200

In [3]:
#combination of upper case and lower case
NUMber=500
NUMber

500

In [4]:
#combination of letters and numbers , number as suffix
number123=600
number123

600

In [5]:
#combination of letters and numbers , number as a prefix
123number=900
123number

SyntaxError: invalid decimal literal (2670673286.py, line 2)

In [6]:
# spl characters
number%=800
number%

SyntaxError: invalid syntax (677205930.py, line 3)

In [7]:
#underscore
number_=120
number_

120

In [8]:
# keywords
if=800
if

SyntaxError: invalid syntax (2060768203.py, line 2)

In [9]:
sum=700
sum

700

# note
- sum is a math operation it will work
- but do not us as variable

In [10]:
# spaces will not be allowed
number one=900
number one

SyntaxError: invalid syntax (2710073271.py, line 2)

In [11]:
number_one=900
number_one

900

In [12]:
_=900
_

900